<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add chart in ASP.NET MVC</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Content/Chart.js"></script>

</head>
<body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Adding charts to ASP.NET MVC project</h1>
            <p class="lead">
                This page shows how to add two charts, PIE and BAR, with percentages display from actual values.
                Bootstrap adds cross device capability, and Chart.js adds the actual charts. Labelling plugin for Chart.js from github is also used
                to draw percent labels directly on the chart itself.

                <br />
                <h5><a href="http://thoughtsonprogramming.wordpress.com">Thoughts on Programming</a></h5>
            </p>
        </div>
    </div>
    @RenderBody()
</body>
</html>
